.main {
    display: block;
}

/* start header block */
/* start TOP header */
.main-header {
    display: block;
    position: sticky;
    z-index: 10000;
    top: 0;
    background-color: #fff;
}

.main-header .header-top {
    display: block;
    clear: both;
    background-color: #2f2f2f;
}

.main-header .header-top .header-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.main-header .header-top .header-row .header-col {
    display: block;
    width: 50%;
    box-sizing: border-box;
    padding: 8px 15px;
}

.main-header .header-top .header-row .header-col p {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 0;
}

.main-header .header-top .header-row .header-col a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.3;
    float: right;
}

/* end TOP header */

/* start BOTTOM block */

.main-header .header-bottom {
    display: block;
    clear: both;
    box-shadow: 1px 4px 4px #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.main-header .header-bottom .header-inner {
    display: block;
}

/* start IMG tag */
.main-header .header-bottom .header-inner .header-img {
    display: inline-block;
    width: 15%;
    box-sizing: border-box;
    padding-top: 13px;
    padding-bottom: 13px;
}

.main-header .header-bottom .header-inner .header-img img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* end IMG tag */

/*  start MENU tag*/
.main-header .header-bottom .header-inner .header-menu {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: transparent;
    float: right;
}

.main-header .header-bottom .header-inner .header-menu li {
    display: block;
}

.main-header .header-bottom .header-inner .header-menu .angle::after {
    display: block;
    content: "\f107";
    font-family: "font awesome 6 free";
    font-weight: 700;
    float: right;
}

.main-header .header-bottom .header-inner .header-menu li:hover .angle::after {
    display: block;
    content: "\f106";
    font-family: "font awesome 6 free";
    font-weight: 700;
    float: right;
}

.main-header .header-bottom .header-inner .header-menu li a {
    display: block;
    color: #2f2f2f;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 30px 15px;
}

/* end MENU tag */

/* start ICON tag */
.main-header .header-bottom .header-inner .header-icon {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    box-sizing: border-box;
    padding-top: 30px;
    float: right;
    padding-left: 25px;
}

.main-header .header-bottom .header-inner .header-icon .icon-1 {
    display: block;
}

.main-header .header-bottom .header-inner .header-icon .icon-1 a {
    display: block;
    color: #2f2f2f;
}

.main-header .header-bottom .header-inner .header-icon .icon-1 a .fa-solid.fa-user {
    display: block;
}

.main-header .header-bottom .header-inner .header-icon .icon-1 a .fa-solid.fa-magnifying-glass {
    display: block;
    margin-left: 25px;
}

.main-header .header-bottom .header-inner .header-icon .icon-1 a .fa-solid.fa-cart-shopping {
    display: block;
    margin-left: 25px;
}

/* end ICON tag */
/* start sub-menu-2 block */
.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 {
    display: none;
    z-index: 1;
    position: absolute;
    min-width: 225px;
    background-color: #fff;
    color: #2f2f2f;
    padding-bottom: 6px;
    padding-top: 6px;
    border: 1px solid #e1e1e1;
}

.main-header .header-bottom .header-inner .header-menu li:hover .sub-menu-2 {
    display: block;
}

.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li {
    display: block;
    padding: 3px;
    position: relative;
}

.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li a {
    display: block;
    font-size: 15px;
    text-transform: unset;
    font-weight: 500;
    text-align: left;
    padding: 0px 7px;
}

.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li .angle-2::after {
    content: "\f107";
    font-family: "font awesome 6 free";
    font-weight: 700;
    display: block;
    float: right;
}

.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li:hover .angle-2::after {
    content: "\f105";
    font-family: "font awesome 6 free";
    font-weight: 700;
    display: block;
    float: right;
}

/* end sub-menu-2 block */
/* start sub-menu-3 block */
.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li .sub-menu-3 {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 230px;
    left: 100%;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    color: #2f2f2f;
    top: 5%;
}

.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li:hover .sub-menu-3 {
    display: block;
}

.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li .sub-menu-3 li {
    display: block;
    padding: 4px;
}

.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li .sub-menu-3 li a {
    display: block;
    padding: 0px 10px;
}

.main-header .header-bottom .header-inner .header-menu li .sub-menu-2 li .sub-menu-3 li a:hover {
    display: block;
    color: #555555;
}

/* end sub-menu-3 block */
/* end HEADER-BOTTOM block */
/* end header block */


/* strat best product block */
.best-product-outer {
    display: block;
    clear: both;
    padding-top: 22px;
}

.best-product-outer .best-product-inner {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.best-product-outer .best-product-inner .best-product-col {
    display: block;
    width: 23%;
    box-sizing: border-box;
}

/* start 1 block */
.best-product-outer .best-product-inner .best-product-col .best-product-row-1 {
    display: block;
}

.best-product-outer .best-product-inner .best-product-col .best-product-row-1 ol {
    display: flex;
    flex-wrap: wrap;
}

.best-product-outer .best-product-inner .best-product-col .best-product-row-1 ol li {
    display: block;
}

.best-product-outer .best-product-inner .best-product-col .best-product-row-1 ol li a {
    display: block;
    color: #232323;
    font-size: 13px;
}

.best-product-outer .best-product-inner .best-product-col .best-product-row-1 ol li a::after {
    content: "/";
    color: #7a7a7a;
    margin: .3125rem;
}

/* end 1 block */

/* start 2 block */
.best-product-outer .best-product-inner .best-product-col .best-product-men {
    display: block;
    margin-top: 20px;
}

.best-product-outer .best-product-inner .best-product-col .best-product-men p {
    display: block;
    padding-bottom: 0px;
    border: 1px solid #e1e1e1;
}

.best-product-outer .best-product-inner .best-product-col .best-product-men p a {
    display: block;
    padding: 15px;
    background: #ffffff;
    color: #333333;
    border-bottom: 1px solid #d1d1d1;
    font-size: 14px;
    font-weight: 600;
}

/* end 2 block */


/* start 3 block */
.best-product-outer .best-product-inner .best-product-col .best-product-img {
    display: block;
}

.best-product-outer .best-product-inner .best-product-col .best-product-img img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 25px;
}

/* end 3 block */

/* end best product-block */

/* best-product-row-2 */
.best-product-outer .best-product-inner .best-product-col-1 {
    display: block;
    width: 77%;
    box-sizing: border-box;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-product-men2 {
    display: block;
    margin-top: 4.5%;
    z-index: 0;
    padding: 15px;
    border: 1px solid #e1e1e1;
    background: #f9f9f9;
    margin-left: 30px;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-product-men2 h1 {
    display: block;
    color: #000;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 10px;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-product-men2 p {
    display: block;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    margin-bottom: 0;
}

/* start block-2 */
body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists {
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    margin-top: 15px;
    margin-left: 30px;

}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .window {
    display: inline-block;
    background-color: #333333;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    text-align: center;
    margin-left: 25px;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .window .window-icon {
    display: block;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .window .window-icon::after {
    content: "\f17a";
    font-family: "font awesome 6 free";
    font: normal normal normal 14px/1 FontAwesome;
    width: 700;
    font-size: 14px;
    color: #fff;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .menu {
    display: block;
    background-color: #333333;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    text-align: center;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .menu .menu-icon {
    display: block;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .menu .menu-icon::after {
    content: "\f0c9";
    font-family: "font awesome 6 free";
    font: normal normal normal 14px/1 FontAwesome;
    width: 700;
    font-size: 14px;
    color: #fff;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists p {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 14px;
    color: #666666;
    margin-top: 5px;
    width: 50%;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form {
    display: flex;
    flex-wrap: wrap;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form label {
    display: block;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 14px;
    color: #666666;
    margin-top: 8px;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form .dropdown-menu {
    display: block;
    margin-left: 15px;
    color: #7a7a7a;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form .dropdown-menu select {
    display: block;
    background-color: #fff;
    border-color: #e1e1e1;
    border-radius: 0px;
    width: 155%;
}

/* end block-2 */

/* start 3 images block */
.best-product-outer .best-product-inner .best-product-col-1 .best-products-content {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;

}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges {
    display: block;
    padding: 0px 15px;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img {
    display: block;
    position: relative;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img img {
    display: block;
    width: 100%;
    height: auto;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img span {
    display: inline-block;
    font-size: 13px;
    background-color: #2f2f2f;
    color: white;
    padding: 2px 10px;
    position: absolute;
    top: 0px;
    margin: 12px;
    border-radius: 2px;
    font-weight: 500;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img .sale {
    display: inline-block;
    font-size: 13px;
    background-color: #8b8f98;
    color: white;
    padding: 2px 10px;
    position: absolute;
    top: 0px;
    margin: 12px;
    border-radius: 2px;
    font-weight: 500;
    right: 0;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content {
    display: block;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content a {
    display: block;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #555555;
    font-size: 16px;
    margin-top: 12px;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content span {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    color: #000000;
    margin-top: 12px;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content .button {
    display: block;
}

.best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content .button button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    padding: 9px 13px;
    font-size: 14px;
    border-radius: 3px;
    background-color: black;
    margin-top: 12px;
}

/* end 3 imags block */
/* end best product-row-2 */


/* start footer block */
/* start top-footer block */
.main-footer {
    display: block;
    margin-top: 75px;
}

.main-footer .footer-top {
    display: block;
    clear: both;
}

.main-footer .footer-top .footer-container {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.main-footer .footer-top .footer-container .footer-inner {
    display: flex;
    flex-wrap: wrap;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col {
    display: block;
    width: 25%;
    box-sizing: border-box;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-text {
    display: block;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-text strong {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    display: block;
    margin-bottom: 35px;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link {
    display: block;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link li {
    display: block;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link li strong {
    display: block;
    font-weight: 600;
    font-size: 15px;
    color: #555555;
    text-transform: uppercase;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link li p,
.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link li a {
    display: block;
    margin-bottom: 6px;
    color: #555555;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link li a {
    color: #555555;
    font-weight: 500;
    display: block;
    font-size: 15px;
    text-decoration: none;
    transition-duration: .2s;
}

.main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link li a:hover {
    display: block;
    padding-left: 10px;
    color: #000000;
}

/* end top-footer block */
/* start footer bottom block */
.footer-bottom {
    display: block;
    clear: both;
    margin-top: 75px;
    background-color: #2f2f2f;
}

.footer-bottom .bottom-footer-inner {
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom .bottom-footer-inner .bottom-text {
    display: block;
    width: 50%;
    box-sizing: border-box;
}

.footer-bottom .bottom-footer-inner .bottom-text a {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 30px;
}

.footer-bottom .bottom-footer-inner .bottom-icon {
    display: block;
    width: 50%;
    box-sizing: border-box;
}

.footer-bottom .bottom-footer-inner .bottom-icon ul {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.footer-bottom .bottom-footer-inner .bottom-icon ul li {
    display: block;
}

.footer-bottom .bottom-footer-inner .bottom-icon ul li a {
    display: block;
    color: #ffffff;
    padding: 20px 6px;
    font-size: 32px;
}

/* end footer-bottom block */
/* end footer block */


/* Responsive :------------------------------------ */
@media(max-width:1200px) {

    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form .dropdown-menu select {
        width: 120%;
    }
}

@media(max-width:993px) {

    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form .dropdown-menu select {
        width: 100% !important;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img .sale {
        font-size: 11px;
        padding: 0px 2px;
        margin: 5px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img span {
        padding: 0px 3px;
        margin: 4px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content .button button {
        padding: 0px 2px;
        margin-top: 5px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content a {
        font-size: 13px;
    }
}


@media(max-width:576px) {
    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form .dropdown-menu select {
        width: 95% !important;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img .sale {
        font-size: 11px;
        padding: 0px 2px;
        margin: 5px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img span {
        padding: 0px 3px;
        margin: 4px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content .button button {
        padding: 0px 2px;
        margin-top: 5px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content a {
        font-size: 13px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-products-content {
        display: block;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img .sale {
        font-size: 20px;
        padding: 0px 5px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img span {
        font-size: 20px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content a {
        font-size: 17px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content .button button {
        padding: 0px 2px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .main-footer .footer-top .footer-container .footer-inner .footer-col {
        display: block;
        width: 50%;
        box-sizing: border-box;
    }

    .main-footer .footer-top .footer-container .footer-inner .footer-col .footer-text strong {
        margin-bottom: 10px;
    }

    .main-footer .footer-top .footer-container .footer-inner .footer-col {
        margin-bottom: 20px;
    }

    .main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link li p,
    .main-footer .footer-top .footer-container .footer-inner .footer-col .footer-link li a {
        margin-bottom: 3px;
    }

    .footer-bottom .bottom-footer-inner .bottom-icon ul li a {
        font-size: 30px;
    }

    .footer-bottom .bottom-footer-inner .bottom-text a {
        padding-top: 13px;
    }
}

@media (max-width:320px) {
    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists p {
        margin-bottom: 0;
        margin-left: 25px;
        font-size: 12px;
        margin-top: -15px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form label {
        margin-bottom: 0;
        margin-left: 23px;
        font-size: 13px;
        margin-top: 5px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists form .dropdown-menu select {
        width: 95% !important;
        font-size: 11px;
        margin-left: 8px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .window .window-icon {
        display: block;
        padding: 2px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .window {
        line-height: 30px;
        text-align: center;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .menu .menu-icon {
        display: block;
        padding: 1px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content {
        display: block;
        margin-left: 30px;
        margin-top: 30px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content span {
        margin-top: 0px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img span {
        font-size: 14px;
    }

    .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-content .button button {
        margin-bottom: 10px;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists .menu {
        transform: translate(70px, -30px);
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-product-lists {
        display: block;
    }

    body .best-product-outer .best-product-inner .best-product-col-1 .best-products-content .best-product-imges .best-product-img .sale {
        font-size: 13px;
    }
}

/* end responsive :----------------------------------- */